:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: radial-gradient(farthest-corner at -40% -40%, #551c5d, #020c2a);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 60px;
  line-height: 1.1;
}

h2 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0px;
  margin-top: 5px;
  margin-bottom: -10px;
  text-align: left;
}
